#primary {
	//padding-left: 0;
	//padding-right: 0;
}

.st-section-container {
	width: 100%;
	text-align: center;
}

.st-content-wrapper {
	max-width: rem-calc( $content_wrapper_width );
	margin: 0 auto;
}


.st-widget-pages-container {
	padding: rem-calc(70) 0;
}

//Portfolio
#st-portfolio-container {
	background: $color__background-screen;
	padding-top: rem-calc(35);
	padding-bottom: rem-calc(60);
}

.st-page-content {
	text-align: center;
}

.st-page-header {
	text-align: center;
}

.st-page-title {
	font-size: rem-calc(42);
	color: $color_content;
	font-weight: $font_regular;
}
.st-page-title.line-height {
	line-height: 1.8;
}

.st-portfolio-outer {
	text-align: center;
	padding-top: rem-calc(15);
	padding-bottom: rem-calc(15);
}

.st-portfolio-content-wrapper {
	position: relative;
	display: inline-block;
}

.st-portfolio-post-title-wrapper {
	position: absolute;
	top:0;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	background: rgba(160, 160, 160, 0.7);
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
	color: #484744;
}

.st-portfolio-post-title {
	margin: 0;
	font-size: rem-calc(50);
	text-shadow: rgba(110, 110, 110, 0.5) 0 0 20px;
	max-width: 95%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.st-portfolio-content-wrapper:hover .st-portfolio-post-title-wrapper {
	opacity: 1;
}

.st-portfolio-button {
	width: 230px;
	height: 62px;
	margin: rem-calc(40) 0;
	border-radius: 4px;
	line-height: 62px;
	font-size: 26px;
	font-weight: $font_semi_bold;
	color: $white;
	background: $color__theme;
	display: inline-block;
}


//Team
#st-team-container {
	padding-top: rem-calc(60);
	padding-bottom: rem-calc(70);
}

.st-team-member-thumbnail {
	width: rem-calc(201);
	height: rem-calc(201);
	border-radius: 100%;
	overflow: hidden;
	background: #EEEEF0;
	display: inline-block;
	margin-top: rem-calc(85);
	margin-bottom: rem-calc(70);
}

.st-team-text {
	color: $color_content;
	margin: 0;
}

.st-team-member-title {
	font-size: rem-calc(22);
	line-height: rem-calc(27);
}
.st-team-member-title:hover {
	color: $color__theme;
}

.st-team-member-designation {
	font-size: rem-calc(14);
	line-height: rem-calc(27);
}

.st-team-member-excerpt {
	font-size: rem-calc(14);
	padding: rem-calc(25) rem-calc(15) 0 rem-calc(15);
}

#st-pricing-container {
	background: $color__background-screen;
	padding-top: rem-calc(78);
	padding-bottom: rem-calc(60);
}


#st-testimonial-header {

}

.st-testimonial-text {
	font-size: rem-calc(19);
	font-weight: $font_regular;
	color: $color_content;
}

.st-testimonial-name {
	font-size: rem-calc(21);
	font-weight: $font_regular;
	color: #9A8FAF;
	margin-bottom: 0;
}

#st-testimonials-container {
	padding-top: rem-calc(135);
	padding-bottom: rem-calc(95);
}
