.widget {
	margin: 0 0 $gutter;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

.widget-sidebar {
	background: $white;
	padding: $gutter;
	clear: both;
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

.widget-title {
	font-size: rem-calc(22);
	line-height: rem-calc(30);
}

.st-widget-pages {
	padding-top: rem-calc(35);
	padding-bottom: rem-calc(35);
}

.st-widget-post-image {
	border-radius: 100%;
	margin: rem-calc(40) 0;
}

.st-widget-post-title {
	font-size: rem-calc(22);
	color: $color_content;
	margin-bottom: rem-calc(20);
}

.st-widget-post-content {
	font-size: 14px;
	color: $color_content;
	padding-left: 5%;
	padding-right: 5%;
}

.st-widget-post-readmore {
	display: inline-block;
	width: 97px;
	height: 30px;
	line-height: 30px;
	border-radius: 4px;
	font-size: 14px;
	color: $white;
	background-color: $color__theme;
}

//Pricing Widget
.st-widget-pricing {
	padding-top: rem-calc(40);
	padding-bottom: rem-calc(40);
}

.plan-name-wrapper {

}

.plan-name {
	font-size: rem-calc(26);
	font-weight: $font_regular;
	padding: rem-calc(16);
	color: $white;
}

.plan-price-wrapper {
	background: $plan_background;
}

.plan-price {
	font-size: rem-calc(20);
	font-weight: $font_regular;
	color: #485460;
	padding: rem-calc(15.5);
}

.plan-features {

}

.plan-button-wrapper {
	background: $plan_background;
	padding: rem-calc(29);
}

.plan-button {
	width: 170px;
	height: 40px;
	line-height: 40px;
	border-radius: 3px;
	font-size: rem-calc(17);
	font-weight: $font_semi_bold;
	color: $white;
	display: inline-block;
}

ul.plan-features {
	list-style-type: none;
}

.plan-price, .plan-features > li {
	border-bottom: 1px solid #ECF0F1;
}

.plan-features > li {
	width: 100%;
	padding: rem-calc(9.5);
	background: $white;
	font-weight: $font_regular;
	font-size: rem-calc(14);
	color: #8C9299;
}
