@media only screen and (min-width: $large-start-point) {
	.menu-toggle {
		display: none;
	}
}

@media only screen and (max-width: $large-start-point) {
	.blank-theme-main-navigation ul {
		display: none;
	}

	.site-branding {
		width: 100%;
		margin: 0;
		text-align: center;
	}

	.menu-toggle {
		position: absolute;
	}

	.site-header {
		padding-top: 15px;
		padding-bottom: 15px;
	}
}
